<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 该bean 可能很就都不会被使用，则可以设置其为懒加载模式  该bean 为 singleton 单例模式-->
    <bean class="Bean" id="bean" lazy-init="true"/>
    <bean class="Bean1" id="bean1" destroy-method="onDestory" init-method="onInit"/>

</beans>
